<div class="pages" ng-class="{'mobile': activeMenu}">
    <div class="breadcrumbs">
        Home / Dashboard
    </div>
    <h1>Seja bem vindo(a), <strong>Thais Martins</strong>.</h1>


    <div class="card card-icon-sm">
        <h2>Menus</h2>
        <i class="ss-icon ss-index"></i>
        <p class="value">45</p>
        <p class="obs">
            <span class="label label-danger">25%</span>
            Todos os menus estão sendo acessados
        </p>
    </div>

    <div class="card card-icon-sm">
        <h2>Menus</h2>
        <i class="ss-icon ss-index"></i>
        <p class="value">R$45</p>
        <p class="obs">
            <span class="label label-danger">25%</span>
            Todos os menus estão sendo acessados
        </p>
    </div>

    <div class="card card-icon-sm">
        <h2>Menus</h2>
        <i class="ss-icon ss-index"></i>
        <p class="value">45</p>
        <p class="obs">
            <span class="label label-danger">25%</span>
            Todos os menus estão sendo acessados
        </p>
    </div>

    <div class="card card-icon-sm">
        <h2>Menus</h2>
        <i class="ss-icon ss-index"></i>
        <p class="value">45</p>
        <p class="obs">
            <span class="label label-danger">25%</span>
            Todos os menus estão sendo acessados
        </p>
    </div>
</div>