<div class="users">
    <div class="search">
        <input type="text" ng-model="search.name" placeholder="Com qual usuário deseja conversar?">
    </div>
    <ul class="people">
        <li class="person">
            <div class="image">
                <img src="public/images/user.png" alt="Usuário" title="Usuário">
            </div>
            <div class="text">
                <p class="name">Thais Martins</p>
                <p class="group">Administrador</p>
                <small> a 45min</small>
            </div>
            <div class="delete">
                <i class="ss-icon ss-trash"></i>
                <span>excluir conversa</span>
            </div>
        </li>
        <li class="person">
            <div class="image">
                <img src="public/images/user.png" alt="Usuário" title="Usuário">
            </div>
            <div class="text">
                <p class="name">Thais Martins</p>
                <p class="group">Administrador</p>
                <small><i class="fa fa-clock-o"></i> a 45min</small>
            </div>
            <div class="delete">
                <i class="ss-icon ss-trash"></i>
                <span>excluir conversa</span>
            </div>
        </li>
    </ul>
</div>