<div class="pages" ng-class="{'mobile': activeMenu}">
    <div class="breadcrumbs">
        Home / Trabalhos
    </div>
    <div class="col-xs-12 col-sm-6">
        <h1><i class="ss-icon ss-briefcase"></i> Trabalhos</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
        <a ui-sref="works.add" class="btn btn-primary-fill btn-top pull-right">
            <i class="ss-icon ss-compose right"></i>
            <span>Adicionar Novo Trabalho</span>
        </a>
    </div>

    <div class="page col-xs-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="3%">
                        <input type="checkbox">
                    </th>
                    <th width="3%">#</th>
                    <th width="74%">Título</th>
                    <th width="20%">Interações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td><a ui-sref="/">Home</a></td>
                    <td>
                        <button class="btn btn-secondary-fill btn-xsmall btn-circle">
                            <i class="ss-icon ss-compose"></i>
                        </button>
                        <button class="btn btn-secondary-fill btn-xsmall btn-circle">
                            <i class="ss-icon ss-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td><a ui-sref="/">Home</a></td>
                    <td>
                        <button class="btn btn-secondary-fill btn-xsmall btn-circle">
                            <i class="ss-icon ss-compose"></i>
                        </button>
                        <button class="btn btn-secondary-fill btn-xsmall btn-circle">
                            <i class="ss-icon ss-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td><a ui-sref="/">Home</a></td>
                    <td>
                        <button class="btn btn-secondary-fill btn-xsmall btn-circle">
                            <i class="ss-icon ss-compose"></i>
                        </button>
                        <button class="btn btn-secondary-fill btn-xsmall btn-circle">
                            <i class="ss-icon ss-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>