<header>
    <div class="logo">
        <a class="title" ui-sref="dashboard">
            painel<strong>admin</strong>
            <span class="dot"></span>
        </a>
    </div>
    <nav class="mobile-nav" ng-class="{'mobile': !activeMenu}" ng-click="toogleMenu()">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>
    <ul class="buttons">
        <li ng-click="toggleMessages()">
            <span>Mensagens</span>
            <i class="ss-icon ss-chat"></i>
            <span class="label label-warning">1</span>
        </li>
        <li ng-click="doLogout()">
            <span>Sair</span>
            <i class="ss-icon ss-logout"></i>
        </li>
    </ul>
    <ul class="messages messages-header" ng-class="{'active': showMessages}">
        <li class="message">
            <a ui-sref="messages">
                <div class="image">
                    <img src="public/images/user.png" alt="Usuário" title="Usuário">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat tincidunt dolor..</p>
                    <small><i class="fa fa-clock-o"></i> a 45min</small>
                </div>
            </a>
        </li>
        <li class="not-read message">
            <a ui-sref="messages">
                <div class="image">
                    <img src="public/images/user.png" alt="Usuário" title="Usuário">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat tincidunt dolor..</p>
                    <small><i class="fa fa-clock-o"></i> a 45min</small>
                </div>
            </a>
        </li>
        <li class="see-all">
            <a ui-sref="messages">Ver todas mensagens</a>
        </li>
    </ul>
</header>