<aside id="menu" class="col-xs-4" ng-class="{'mobile': activeMenu}">
    <div class="user" ng-click="goToUser()">
        <div class="image">
            <img src="{{user.thumbnail}}" alt="{{user.name}}" title="{{user.name}}">
        </div>
        <div class="ref">
            <p class="name">{{user.name}}</p>
            <p class="category">{{user.group.title}}</p>
            <p class="status"> <span class="online"></span>Online</p>
        </div>
    </div>
    <ul>
        <li ng-repeat="item in menu" data-menuanchor="{{item.slug}}">
            <a ui-sref="{{item.slug}}" ng-if="!item.childs">
                <i class="ss-icon ss-{{item.icon}}"></i> <span>{{item.name}}</span>
            </a>
            <a ng-if="item.childs" ng-click="item.showChilds = !item.showChilds" ng-init="item.showChilds = false">
                <i class="ss-icon ss-{{item.icon}}"></i> <span>{{item.name}}</span>
            </a>
            <ul class="child" ng-if="item.childs" ng-class="{'active': item.showChilds}">
                <li ng-repeat="child in item.childs">
                    <a ui-sref="{{child.slug}}">
                        <i class="ss-icon ss-{{child.icon}}"></i> <span>{{child.name}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>