<aside id="menu" class="col-xs-4" ng-class="{'mobile': activeMenu}">
    <div class="user">
        <div class="image">
            <img src="public/images/user.jpg" alt="Usuário" title="Usuário">
        </div>
        <div class="ref">
            <p class="name">Thais Martins</p>
            <p class="category">administrador</p>
            <p class="status"> <span class="online"></span>Online</p>
        </div>
    </div>
    <p class="navegation">Navegação</p>
    <ul>
        <li ng-repeat="item in menu" data-menuanchor="{{item.slug}}">
            <a ui-sref="{{item.slug}}">
                <i class="ss-icon ss-{{item.icon}}"></i> <span>{{item.name}}</span>
            </a>
            <span></span>
        </li>
    </ul>
</aside>