<div id="login">
    <div class="box">
        <form name="loginForm">
            <div class="form-item">
                <label for="user">Usuário</label>
                <input type="text" ng-model="login.user" id="user">
            </div>
            <div class="form-item">
                <label for="pass">Senha</label>
                <input type="text" ng-model="login.pass" id="pass">
            </div>
            <button class="btn btn-special btn-center">Entrar</button>
        </form>
    </div>
</div>