<div id="login">
    <div class="box box-small">
        <h1 >painel<strong>admin</strong> <span class="dot"></span></h1>
        <h2>Seja bem vindo!</h2>
        <p>Faça login para acessar sua conta.</p>
        <form name="loginForm" class="form form-login">
            <div class="form-group" ng-class="{'active': login.user}">
                <label for="user">Usuário</label>
                <input type="text" ng-model="login.user" id="user">
            </div>
            <div class="form-group" ng-class="{'active': login.pass}">
                <label for="pass">Senha</label>
                <input type="password" ng-model="login.pass" id="pass">
            </div>
            <button class="btn btn-primary-fill btn-center btn-medium" ng-click="doLogin()">
                <span>Entrar</span>
            </button>
        </form>
    </div>
</div>