.btn
  font:
    weight: 300
  min-width: 150px
  margin: 20px auto
  display: block

  &:hover,
  &:active,
  &:active:hover,
  &:active:focus,
  &:focus,
  &:visited:hover,
  &::before
    @include border-radius(30px)

  &.btn-primary-fill
    @include create-button-fill($color-primary, $color-secondary)

  &.btn-secondary-fill
    @include create-button-fill($color-secondary, $color-soft)

  &.btn-special-fill
    @include create-button-fill($color-special, $color-soft)

  &.btn-small
    width: 40px

  &.btn-medium
    width: 150px

  &.btn-center
    display: block
    margin: auto