$color-soft: #FFFFFF
$color-dark: lighten(#000000, 30%)

$color-gray: #EEEEEE
$color-gray-soft: lighten($color-gray, 5%)
$color-gray-dark: darken($color-gray, 8%)

$color-primary: #ef2d56
$color-primary-soft: #ef5582
$color-primary-dark: #c42547

$color-secondary: #29323d
$color-secondary-soft: #4e6274
$color-secondary-dark: #131A23

$color-green: #E1FFD9
$color-green-soft: lighten($color-green, 5%)
$color-green-dark: darken($color-green, 5%)

$color-blue: #659494
$color-blue-soft: lighten($color-blue, 40%)
$color-blue-dark: darken($color-blue, 15%)