.form
  width: 100%
  max-width: 600px

  .form-group
    position: relative
    margin: 10px 0

    .alert
      font:
        style: italic
      color: $color-secondary-soft

    input,
    textarea,
    select,
    .form-select
      width: 100%
      background:
        color: $color-soft
      border: 1px solid $color-gray-dark
      color: $color-dark
      resize: none
      font:
        size: 1em

    textarea
      @include border-radius(15px)
      height: 100px
      padding: 15px 20px

    input,
    select,
    .form-select
      @include border-radius(25px)
      padding: 20px

    label
      @include transition(all .3s)
      color: $color-secondary
      font:
        weight: 600
      text-transform: uppercase
      margin: 10px

      small
        text-transform: none
        color: $color-secondary-soft
        margin:
          left: 5px
        font:
          size: .8em
          weight: 400

  &.form-login
    .form-group
      margin: 40px 0

      label
        @include transition(all .3s)
        position: absolute
        color: $color-secondary
        font:
          weight: 600
        left: 10px
        top: 5px
        text-transform: uppercase

      &.active
        label
          top: -30px
          font:
            size: .9em
          color: $color-soft

        input,
        textarea,
        select
          border:
            color: $color-secondary-soft