.pages
  @include transition(all .4s)
  background:
    color: $color-gray-soft
  width: 100%
  height: 100%
  padding: 70px 20px 20px 220px

  @media #{$xsmall-max}
    padding:
      left: 80px

  &.mobile
    padding:
      left: 80px

  h1
    position: relative
    padding:
      left: 35px
    margin:
      bottom: 0

    &.no-icon
      padding:
        left: 0

    strong
      color: $color-primary

    i
      position: absolute
      top: 5px
      left: 0

  .btn-top
    height: 30px
    min-width: 160px
    max-width: 220px
    margin: 0
    font:
      size: .9em

    @media #{$xsmall-max}
      margin: 10px auto 0
      display: block

    i
      top: 7px
      font:
        size: 1.1em

  .page
    @include border-radius(10px)
    height: 80%
    min-height: 300px
    background:
      color: $color-soft
    padding: 20px 20px 80px
    margin:
      top: 30px

    h2
      text-transform: uppercase
      margin:
        top: 30px

    .item
      @include border-radius(10px)
      padding: 20px
      border: 1px solid $color-gray

      img
        width: 100%
        min-height: 100%

    .footer
      position: relative
      bottom: 0