.pages
  @include transition(all .4s)
  background:
    color: $color-gray-soft
  width: 100%
  height: 100%
  padding: 70px 20px 20px 220px

  @media #{$xsmall-max}
    padding:
      left: 80px

  &.mobile
    padding:
      left: 80px

  h1
    margin:
      bottom: 0

    strong
      color: $color-primary

    i
      margin:
        top: 5px
        right: 10px

  .btn-top
    height: 30px
    min-width: 160px
    max-width: 220px
    margin: 0
    font:
      size: .9em

    @media #{$xsmall-max}
      margin: 10px auto 0
      display: block

    i
      top: 7px
      font:
        size: 1.1em

  .page
    @include border-radius(10px)
    width: 100%
    height: 80%
    min-height: 300px
    background:
      color: $color-soft
    padding: 20px 20px 80px
    margin:
      top: 30px

    .footer
      position: relative
      bottom: 0